* 딕셔너리 문제 5

## Tuple(튜플)
p.84-87

**튜플과 리스트의 차이점**<br>
리스트: [   ]<br>
튜플: (   )<br>
리스트는 값의 생성, 삭제, 수정이 가능하지만, 튜플은 값의 수정이 불가능하다.

**튜플**
인덱싱, 슬라이싱, 더하기, 곱하기

**1. 튜플 작성**<br>
단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다.<br>
괄호(  )를 안붙이고 값만 나열해도 튜플로 생성된다 <br>

In [10]:
a = (3, )
a

(3,)

In [12]:
a = 3,
a

(3,)

In [14]:
a = (1,2,3)
a

(1, 2, 3)

In [16]:
a = 1,2,3
a

(1, 2, 3)

In [18]:
a = ()
a

()

**2. 튜플 변경** 불가능

**3. 튜플 추가**

In [25]:
a = (1,2,3)
# a.append(4,) append는 튜플 a를 변경하는 것이므로 불가능
# 그리고 튜플의 내장함수에는 append가 없다.
# a + (4) 이것도 불가능 //(4)도 int로 인식
# a + 4도 불가능.. int
b = (4, )
a + b

(1, 2, 3, 4)

## Dictionary(딕셔너리)
p.88-97

대응관계를 나타낼 수 있는 자료형 -> 연관배열, 해시<br>
'{Key1: Value1, Key2: Value2, ... }'
딕셔너리를 리스트나 튜플처럼 순차적으로 해당 요소값을 구하지 않고,<br>
Key를 통해 Value를 얻는다. Key에는 변하지 않는 값, Value에는 변하는 값, 변하지 않는 값 모두 사용가능하다.

**1. 딕셔너리 만들기**

In [27]:
a = dict()
a['name'] = 'Sonia'
a['birth'] = '0101'
a['age'] = '23'
a

{'name': 'Sonia', 'birth': '0101', 'age': '23'}

In [28]:
a = {'name':"Sonia", 'age':'23'}
a

{'name': 'Sonia', 'age': '23'}

**2. 딕셔너리 오류**

In [29]:
a = dict()
a

{}

In [30]:
a['name']='python'

In [31]:
a[('a',)]='python'

In [34]:
# a[[1]]='python' key는 변하지 않는 값, 튜플이어야 한다. 변경가능한 리스트로 설정하면 오류

In [35]:
a[250]='python'

**딕셔너리 값 추출 1**<br>
del 사용 시, 딕셔너리의 특징에 맞게, 인덱싱이 아닌, KEY값을 정확하게 입력한다.

In [47]:
a = {'A':90, 'B':80, 'C':70}

In [40]:
del a['B'] 
a

{'A': 90, 'C': 70}

In [41]:
a['A']

90

**딕셔너리 값 추출 2**

In [43]:
a.get('B', '없음')
#딕셔너리의 get함수를 이용하면, 해당 Key가 없을 경우, 두번째 파라미터로 전달된 default 값을 대신 리턴해준다.

'없음'

**딕셔너리 최소값**<br>
dict.values() : Value 리스트 만들기<br>
list.min이용

In [50]:
b = a.values()
b

dict_values([90, 80, 70])

In [53]:
min(b)

70

**딕셔너리 리스트 변환**

In [54]:
a.items()
# 딕셔너리를 리스트로 변환하는 딕셔너리의 내장함수

dict_items([('A', 90), ('B', 80), ('C', 70)])

## Set(집합)
p.98-103

**집합만들기 1**<br>
집합은 set키워드를 통해 만들 수 있다. {1,2,3}<br>
집합 자료형의 특징<br>
중복을 허용하지 않고, 순서가 없어서, <br>
인덱싱으로 접근하려면, 리스트나 튜플로 변환 후 해야 한다.

In [56]:
a = set(['a', 'b', 'c'])
a

{'a', 'b', 'c'}

**집합의 중복** 집합은 중복을 허용하지 않는다.

In [57]:
set([1,1,1,2,2,3,3,3,4,4,5])

{1, 2, 3, 4, 5}

**차집합**<br>
s1 집합의 항목 중 s2 집합에 포함된 항목을 제거해보자.

In [58]:
s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c','d','e', 'f','g'])

In [59]:
s1 - (s1&s2)

{'a', 'b'}

**집합 만들기 2**<br>
a = { } 일 경우, 튜플로 인식.. 그렇다면 값이 없는 set(집합)은 어떻게 정의?<br>

In [60]:
a = set()
a

set()

In [61]:
type(a)

set

In [ ]:
**집합 추가**

In [63]:
a = {'a','b','c'}
a.update('d','e','f')
a

{'a', 'b', 'c', 'd', 'e', 'f'}